Repository rohit-purandare/mediawarn: changes, and which Codecov flags are due for each by the changed paths.
All: golang, python, frontend, Scanner Service, NLP Service, API Service, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: true
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false

component_management:
  individual_components:
    - component_id: scanner
      name: Scanner Service
      paths:
        - "scanner/**"
    - component_id: nlp
      name: NLP Service  
      paths:
        - "nlp/**"
    - component_id: api
      name: API Service
      paths:
        - "api/**"
    - component_id: frontend
      name: Frontend
      paths:
        - "frontend/**"

flags:
  golang:
    paths:
      - "scanner/"
      - "api/"
    carryforward: true
  python:
    paths:
      - "nlp/"
    carryforward: true
  frontend:
    paths:
      - "frontend/"
    carryforward: true

ignore:
  - "**/*_test.go"
  - "**/tests/**"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/node_modules/**"
  - "**/vendor/**"

Fix Go module handling in Dockerfile
  Dockerfile
Due: none

Implement industry standard Docker build approach (2024)
  Dockerfile
  docker/start.sh
Due: none

Fix frontend build by installing all npm dependencies
  Dockerfile
Due: none

Debug frontend build issues
  Dockerfile
Due: none

Fix critical Dockerfile issues after complete audit
  Dockerfile
Due: none

Fix PyTorch Docker image tag issues
  Dockerfile
Due: none

Fix frontend npm build with robust fallback approach
  Dockerfile
Due: none

Disable ARM64 build to fix PyTorch installation timeout
  .github/workflows/docker.yml
Due: none

Create unified Dockerfile and remove individual service Dockerfiles (#31)
  .github/workflows/docker.yml
  .gitignore
  Dockerfile
  Dockerfile.go-test
  api/Dockerfile
  debug-go.Dockerfile
  docker/start.sh
  final-go-test.Dockerfile
  frontend/Dockerfile
  nlp/Dockerfile
  scanner/Dockerfile
  simple-go-test.Dockerfile
Due: golang, python, frontend, Scanner Service, NLP Service, API Service, Frontend

Fix critical Docker setup issues for cross-machine compatibility
  Dockerfile
  docker-compose.yml
  docker/start.sh
  frontend/nginx.conf
Due: frontend, Frontend

Fix remaining Docker issues for new user experience
  Dockerfile
  docker-compose.yml
Due: none

Fix docker setup (#32)
  Dockerfile
  docker-compose.yml
  docker/start.sh
  frontend/nginx.conf
Due: frontend, Frontend

Automate directory creation for zero-config setup
  Dockerfile
  docker-compose.yml
  docker/start.sh
Due: none

Simplify to pure Docker Compose approach
  STANDALONE-SETUP.md
  docker-compose.dev.yml
  docker-compose.yml
Due: none

Auto create directories (#33)
  Dockerfile
  STANDALONE-SETUP.md
  docker-compose.dev.yml
  docker-compose.yml
  docker/start.sh
Due: none

Implement comprehensive structured logging across all services
  Dockerfile
  api/go.mod
  api/logger/logger.go
  api/main.go
  api/middleware/middleware.go
  docker-compose.yml
  docker/start.sh
  nlp/app/logger.py
  nlp/app/main.py
  nlp/requirements.txt
  scanner/cmd/main.go
  scanner/go.mod
  scanner/internal/logger/logger.go
Due: golang, python, Scanner Service, NLP Service, API Service

Fix frontend build issues and Docker build process
  Dockerfile
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/src/index.css
Due: frontend, Frontend

Improve Docker Compose startup orchestration and reliability
  docker-compose.yml
Due: none
