Repository rohit-purandare/mediawarn: changes, and which Codecov flags are due for each by the changed paths.
All: golang, python, frontend, Scanner Service, NLP Service, API Service, Frontend

Add Docker build and push workflow
  .github/workflows/docker.yml
Due: none

Fix Docker build issues for Go services and frontend
  api/Dockerfile
  frontend/Dockerfile
  scanner/Dockerfile
Due: golang, frontend, Scanner Service, API Service, Frontend

Create unified MediaWarn Docker package
  .github/workflows/docker.yml
  Dockerfile
  docker-compose.yml
Due: none

Fix Docker build issues in unified package
  Dockerfile
Due: none

Fix npm installation in Docker frontend build
  Dockerfile
Due: none

Fix Go build paths in unified Docker build
  Dockerfile
Due: none

Fix Go build commands to match working individual Dockerfiles
  Dockerfile
Due: none

Improve Go build process with tidy and verbose output
  Dockerfile
Due: none

Fix React build issues with environment variables and fallback
  Dockerfile
Due: none

Replace complex React build with simple static frontend
  Dockerfile
Due: none

Replace complex multi-stage Dockerfile with simple single-stage build
  Dockerfile
Due: none

Add verbose output to Go builds for debugging
  Dockerfile
Due: none

Create minimal working MediaWarn package
  Dockerfile
Due: none

Add Go services back to create complete MediaWarn package
  Dockerfile
Due: none

Create debug Dockerfile to identify Go build failures
  .github/workflows/docker.yml
  debug-go.Dockerfile
Due: none

Fix debug Dockerfile Go build test approach
  debug-go.Dockerfile
Due: none

Fix Go version issue in debug build
  debug-go.Dockerfile
Due: none

Create simplified Go build test with proper Go 1.21 installation
  .github/workflows/docker.yml
  simple-go-test.Dockerfile
Due: none

Create comprehensive Go build test with proper environment
  .github/workflows/docker.yml
  final-go-test.Dockerfile
Due: none

Add comprehensive logging to capture all Go build steps
  final-go-test.Dockerfile
Due: none

Simplify Go build test with individual step logging
  final-go-test.Dockerfile
Due: none

Complete working MediaWarn unified Docker package
  .github/workflows/docker.yml
  Dockerfile
Due: none

Apply exact working Go build approach from successful debug test
  Dockerfile
Due: none

Restore real Go services with exact working build approach
  Dockerfile
Due: none

Switch to separate Docker images for each service with working Go build
  .github/workflows/docker.yml
  Dockerfile
  Dockerfile.go-test
  api/Dockerfile
  debug-go.Dockerfile
  scanner/Dockerfile
Due: golang, Scanner Service, API Service

Fix frontend Docker build with proven npm approach
  frontend/Dockerfile
Due: frontend, Frontend

Apply exact working debug test sequence to scanner Dockerfile
  scanner/Dockerfile
Due: golang, Scanner Service

Fix Docker build context issues for Go services
  api/Dockerfile
  scanner/Dockerfile
Due: golang, Scanner Service, API Service

Fix binary naming conflicts in Docker multi-stage builds
  api/Dockerfile
  scanner/Dockerfile
Due: golang, Scanner Service, API Service

Simplify Go services to single-stage builds to avoid cache issues
  api/Dockerfile
  scanner/Dockerfile
Due: golang, Scanner Service, API Service

Add fail-safe Go builds with comprehensive error capture
  api/Dockerfile
  scanner/Dockerfile
Due: golang, Scanner Service, API Service

Add fail-safe frontend build with comprehensive fallback
  frontend/Dockerfile
Due: frontend, Frontend

Fix Dockerfile syntax error in frontend build
  frontend/Dockerfile
Due: frontend, Frontend

Fix frontend Dockerfile syntax with simplified approach
  frontend/Dockerfile
Due: frontend, Frontend

Fix ARM64 emulation by using architecture-specific Go downloads
  api/Dockerfile
  scanner/Dockerfile
Due: golang, Scanner Service, API Service

Fix Go build by properly generating go.sum checksums
  api/Dockerfile
  scanner/Dockerfile
Due: golang, Scanner Service, API Service

Delete CLAUDE.md
  CLAUDE.md
Due: none

Create unified Dockerfile and remove individual service Dockerfiles
  .gitignore
  Dockerfile
  Dockerfile.go-test
  api/Dockerfile
  debug-go.Dockerfile
  docker/start.sh
  final-go-test.Dockerfile
  frontend/Dockerfile
  nlp/Dockerfile
  scanner/Dockerfile
  simple-go-test.Dockerfile
Due: golang, python, frontend, Scanner Service, NLP Service, API Service, Frontend

Update Docker workflow for unified image approach
  .github/workflows/docker.yml
Due: none

Path conditions:
  golang: any of: scanner/, api/, but not: **/*_test.go, **/tests/**, **/*.test.js, **/*.test.ts, **/node_modules/**, **/vendor/**
  python: any of: nlp/, but not: **/*_test.go, **/tests/**, **/*.test.js, **/*.test.ts, **/node_modules/**, **/vendor/**
  frontend: any of: frontend/, but not: **/*_test.go, **/tests/**, **/*.test.js, **/*.test.ts, **/node_modules/**, **/vendor/**
  Scanner Service: any of: scanner/**, but not: **/*_test.go, **/tests/**, **/*.test.js, **/*.test.ts, **/node_modules/**, **/vendor/**
  NLP Service: any of: nlp/**, but not: **/*_test.go, **/tests/**, **/*.test.js, **/*.test.ts, **/node_modules/**, **/vendor/**
  API Service: any of: api/**, but not: **/*_test.go, **/tests/**, **/*.test.js, **/*.test.ts, **/node_modules/**, **/vendor/**
  Frontend: any of: frontend/**, but not: **/*_test.go, **/tests/**, **/*.test.js, **/*.test.ts, **/node_modules/**, **/vendor/**
